/* You can add global styles to this file, and also import other style files */
/* styles.css - global para toda aplicação */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

a {
  color: #999;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #00994CFF;
}
